/* Write your CSS code here */
.home-container {
  display: flex;
  justify-content: space-evenly;
}
.home-content {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-top: 80px;
}
.home-image {
  height: 500px;
  width: 500px;
  margin-left: 100px;
  margin-right: 100px;
}
.home-title {
  font-size: 45px;
}
.home-content-desc {
  color: #475569;
  font-size: 18px;
}
.shop-now-button {
  background-color: #0b69ff;
  color: #ffffff;
  border: 0px;
  border-radius: 5px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}
